<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  	<!-- <listener class-name="com.orangeHRM.qa.util.ListenerClassForScreenShot"/> --> 
  	 	<listener class-name="com.orangeHRM.qa.util.Listener_ItestContext_Screenshot" /> 
  		<listener class-name="com.orangeHRM.qa.util.TestListenerForExtentReports"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.orangeHRM.qa.testcases.LeaveListPageTest"/>
      <class name="com.orangeHRM.qa.testcases.LoginTestPage"/>
      <class name="com.orangeHRM.qa.testcases.JobCategoriesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.AttendanceSummaryPageTest"/>
      <class name="com.orangeHRM.qa.testcases.UsersPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ConfigureLeavePageTest"/>
      <class name="com.orangeHRM.qa.testcases.WorkShiftsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.CandidatesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmploymentStatusPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyTrackersPageTest"/>
      <class name="com.orangeHRM.qa.testcases.SocialMediaAuthenticationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.TimeSheetsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.DashboardPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ModulesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyEntitlementsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.JobAdminPageTest"/>
      <class name="com.orangeHRM.qa.testcases.OrganizationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ProjectInfoPageTest"/>
      <class name="com.orangeHRM.qa.testcases.BaseVerificationTest"/>
      <class name="com.orangeHRM.qa.testcases.LeavePeriodPageTest"/>
      <class name="com.orangeHRM.qa.testcases.TrackersPageTest"/>
      <class name="com.orangeHRM.qa.testcases.LocalizationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ReportingMethodsPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.UserManagementPageTest"/>
      <class name="com.orangeHRM.qa.testcases.DataImportPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.QualificationsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.LicensesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.AddEmployeePIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ConfigurePerformancePageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyReviewsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.AddEntitlementPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmployeeReportsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.LocationsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.PIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.WorkWeekPageTest"/>
      <class name="com.orangeHRM.qa.testcases.DepenedentsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.KPIsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.AttendancePageTest"/>
      <class name="com.orangeHRM.qa.testcases.ProjectReportsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ConfigurationTimePageTest"/>
      <class name="com.orangeHRM.qa.testcases.AssignLeavePageTest"/>
      <class name="com.orangeHRM.qa.testcases.LeavePageTest"/>
      <class name="com.orangeHRM.qa.testcases.EducationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.CustomersPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ManageReviewsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.OptionalFieldsPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.Qualifiation_MyInfoPageTest"/>
      <class name="com.orangeHRM.qa.testcases.CustomFieldsPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ReportsPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmployeeTrackersPageTest"/>
      <class name="com.orangeHRM.qa.testcases.TaxExemptionPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MemberShips_AdminPageTest"/>
      <class name="com.orangeHRM.qa.testcases.PunchInOutPageTest"/>
      <class name="com.orangeHRM.qa.testcases.HolidaysPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmergencyContactsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyRecordsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ReviewListPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ApplyLeavePageTest"/>
      <class name="com.orangeHRM.qa.testcases.LeaveTypesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.JobTitlesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.LanguagePackagesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ConfigurationPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.BuzzPageTest"/>
      <class name="com.orangeHRM.qa.testcases.DirectoryPageTest"/>
      <class name="com.orangeHRM.qa.testcases.StructurePageTest"/>
      <class name="com.orangeHRM.qa.testcases.ConfigurationAdminPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ManageReviewsSubPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ReportsLeavePageTest"/>
      <class name="com.orangeHRM.qa.testcases.PurgeCandidatesRecordsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.JobMyInfoPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ImmigrationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.NationalitiesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.PurgeRecordsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmployeeListPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ReportsTimePageTest"/>
      <class name="com.orangeHRM.qa.testcases.ResetPasswordTestPage"/>
      <class name="com.orangeHRM.qa.testcases.PayGradesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.SkillsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.GeneralInformationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.AccessRecordsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmailSubscriptionsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyLeavePageTest"/>
      <class name="com.orangeHRM.qa.testcases.MaintenancePageTest"/>
      <class name="com.orangeHRM.qa.testcases.AdminPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmployeeRecordsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.PerformancePageTest"/>
      <class name="com.orangeHRM.qa.testcases.LeaveEntitlementsAndUsageReportPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmailConfigurationPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ReportToPageTest"/>
      <class name="com.orangeHRM.qa.testcases.SalaryPageTest"/>
      <class name="com.orangeHRM.qa.testcases.VacanciesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ContactDetailsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.PersonalDetailsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.PurgeEmployeeRecordsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmployeeEntitlementPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EntitlementsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.ProjectsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyTimeSheetsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.RegisterOAuthClientPageTest"/>
      <class name="com.orangeHRM.qa.testcases.TimePageTest"/>
      <class name="com.orangeHRM.qa.testcases.LanguagesPageTest"/>
      <class name="com.orangeHRM.qa.testcases.EmployeeTimeSheetsPageTest"/>
      <class name="com.orangeHRM.qa.testcases.Memberships_MyInfoPageTest"/>
      <class name="com.orangeHRM.qa.testcases.MyLeaveEntitlementsAndUsageReportPageTest"/>
      <class name="com.orangeHRM.qa.testcases.TerminationReasonsPIMPageTest"/>
      <class name="com.orangeHRM.qa.testcases.RecruitmentPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
